<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<link itemprop="url" href="{{ blogPost.url }}" />
		<meta itemprop="headline" href="{{ blogPost.title }}" />
		<h1><a href="{{ blogPost.url }}"><span itemprop="name">{{ blogPost.title }}</span></a></h1>
		<div itemprop="audience" itemscope itemtype="http://schema.org/Audience" style="display: none;">
				{% for audience in site.audience %}
				<span itemprop="audienceType">{{ audience }}</span>
				{% endfor %}
		</div>
		<div itemprop="author" itemscope
       		itemtype="http://schema.org/OrganizationRole" style="display: none;">
       		<div itemprop="author" itemscope
        		itemtype="http://schema.org/Person">
        		<span itemprop="name">{{ site.author.name }}</span>
        		{% for social in site.social %}
        		{% unless social.icon == 'feed' %}
        		<link itemprop="sameAs" href="{{ social.url }}" />
        		{% endunless %}
        		{% endfor %}
        	</div>
       </div>
	</header>
	<main>
		<div itemprop="mainEntityOfPage" id="{{ blogPost.url }}" class="post-content">
			{{ blogPost.content}}
		</div>
	</main>
	<footer>
		<div class="categories">
		{% for catego in blogPost.categories %}
		{% assign category = catego | upcase %}
			{% for myPage in site.pages %}
				{% assign myCategory = myPage.categoryPage %}
				{% assign myCategory = myCategory | upcase %}
				{% if myCategory == category %}
					{% assign link = true %}
			<span class="category" itemprop="about">
				{% if myPage.url contains '/index.html' %}
				<a href="{{ myPage.url | replace:'/index.html','/' }}">
					{{ category }}
				</a>
				{% else %}
				<a href="{{ myPage.url }}">
					{{ category }}
				</a>
				{% endif %}
			</span>
				{% endif %}
			{% endfor %}
			{% if link != true %}
			<span class="category" itemprop="about">
				{{ category }}
			</span>
			{% endif %}
			{% assign link = false %}
		{% endfor %}
		</div>
		<span class="post-date">
			<time datetime="{{ blogPost.date| date: '%Y-%m-%d' }}" itemprop="datePublished">
				{{ blogPost.date | date_to_long_string }}
			</time>
		</span>
	</footer>
</article>
