<nav role="navigation">
{% for cat in site.category-list %}
	<ul>
		<li>{{ cat }}
			<ul>
{% assign category = cat | upcase %}
{% for page in site.pages %}
{% if page.resource == true %}
{% for pc in page.categories %}
{% assign pageCategory = pc | upcase %}
{% if pageCategory == category %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% for post in site.posts %}
{% if post.resource == true %}
{% for pc in post.categories %}
{% assign postCategory = pc | upcase %}
{% if postCategory == category %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
			</ul>
		</li>
	</ul>
{% endfor %}
</nav>