html, body, div, span, applet, object, iframe, caption, p {
	margin: 0 0 0 0;
	border: 0 0 0 0;
	font: inherit;
	color: inherit;
}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #E25D00;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
}

#container {
}

header {
	width: 100%;
	position: relative;
}

header, footer {
	position: relative;
}

header a, footer a {
	transition-duration: .25s;
	text-decoration: none;
}

header nav > ul {
	background-color: red;
	display: inline-block;
}

header nav > ul > li {
	background-color: blue;
	display: table-cell;
}

header nav > ul > li ul {
	display: block;	
}

footer {
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #843208;
	font-family: 'Poiret One', cursive;
	color: black;
}

p {
    text-indent: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

code {
	text-indent: 0;
}

article li {
	font-family: 'Poiret One', cursive;
}

a {
	color: #843208;
	text-decoration: none;
}

h1 {
	margin-top: 30px;
	font-size: 40px;
}

h1, h2, h3, h4 {
	font-family: 'Poiret One', cursive;
}

h2 {
	margin-top: 25px;
	font-size: 36px;
}

h3 {
	margin-top: 20px;
	font-size: 28px;
}

img {
	border-radius: 3px;
	max-width: 100%;
}

body header {
	height: 200px;
}

article header {
	padding: 10px;
	height: auto;
}

#post-info {
	font-size: 14px;
	position: absolute;
	z-index: 2;
}

#post-info h1 {
	font-weight: bold;
	margin: 15px 0px;
}

#post-info h2 {
	opacity: 0.75;
	font-style: italic;
	font-size: 24px;
	line-height: 24px;
	text-align: justify;
	font-weight: lighter;
	margin: 15px 0px;
}

#post-info h2:before {
	content: "“";
}

#post-info h2:after {
	content: "”";
}

#post-info h3 {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: -10px;
}

.post-content, .content {
	font-weight: 400;
	letter-spacing: 0px;
	font-size:20px;
	color: #313131;
	line-height: 1.5;
	position: relative;
	/*padding: 50px 0px;*/
	margin-left: auto;
	text-align: justify;
	text-justify: inter-word;
}

.post-content a, .content a {
	color: #C63;
	border-bottom: none;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.post-content a:hover, .content a:hover {
	color: #C63;
	border-bottom: 2px solid #C63;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

#home-title {
	display: block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	width: 100%;
	z-index: 2;
	text-align: center;
	z-index: 1;
}
#home-title a {
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	font-size: 32px;
	color: #303000;
	line-height: 80px;
}
#home-title h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: inline;
	padding-bottom: 50px;
	font-family: 'Poiret One', cursive;
}

img.site-icon {
	position: absolute;
	width: 80px;
	height: 80px;
	float: left;
	top: 40px;
	left: 75px;
	border-radius: 50%;
	transition-duration: .25s;
	opacity: .9;
}

img.site-icon:hover {
	width: 85px;
	height: 85px;
	opacity: 1;
}

img.site-icon-small {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}

img.site-icon-page {
	width: 80px;
	height: 80px;
	margin-left: -40px;
	margin-top: -120px;
	border-radius: 50%;
	position: absolute;
}

#nav-icon {
	width: 30px;
	left: 50%;
	margin-left: -15px;
	position: absolute;
	z-index: 2;
}

#nav-icon a, #nav-icon a span {
	text-decoration: none;
	font-size: 48px;
	text-align: center;
	display: block;
}

#article {
}

#article a {
}

#article a:hover {
}

a.site-title:hover, .copyright a:hover {
	text-decoration: underline;
}

table {
	border: 0px;
	border-collapse: collapse;
	display: block;
	overflow: auto;
}

td, th {
	padding: .25rem .5rem;
	border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 8px;
}

hr {
	position: relative;
	margin: 1.5rem 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

abbr {
	font-size: 85%;
	font-weight: bold;
	color: #555;
	text-transform: uppercase;
}

abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #e5e5e5;
}

blockquote, pre, .message {
	padding: 10px 18px;
	margin: 0px 0px 30px -20px;
	margin-top: inherit;
	color: #7a7a7a;
}

blockquote {
	border-left: 10px solid #C7F66A;
}

blockquote p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.message {
	border-left: 10px solid #F66A81;
}

code, pre {
	font-family: Menlo, Monaco, "Courier New", monospace;
	background-color: #f9f9f9;
}

code {
	padding: .25em .5em;
	font-size: 85%;
	color: #bf616a;
	border-radius: 3px;
}

pre {
	display: block;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	border-left: 10px solid #F6DF6A;
}

pre code {
	padding: 0;
	font-size: 100%;
	color: inherit;
	background-color: transparent;
}

.highlight {
	margin-bottom: 1rem;
	border-radius: 4px;
}

.highlight pre {
	margin-bottom: 0;
}

.clean {
	/*
	color: #eee;
	background-color: #888;
	*/
}

.clean a {
	/*color: #eee;*/
	color: white;
	border-bottom: medium none;
	transition: all 0.5s ease 0s;
}

.dark, .dark a {
	color: #555;
}

.social-links {
	width: auto;
	top: 10px;
	right: 20px;
	position: absolute;
	z-index: 2;
}

.social-links a {
	opacity: 0.75;
	color: #843208;
	text-decoration: none;
	display: inline-block;
	margin: 0 5px 0 5px;
	padding: 0;
}
.social-links a span {
	font-size: 48x;
	height: 48px;
	width: 48px;
	line-height: 80px;
}

.social-links a:hover, .menu a:hover {
	opacity: 1;
}

.menu {
	display: block;
	cursor: pointer;
	background-color: rgba(119, 119, 119, 0.5);
	width: 24px;
	height: 24px;
	top: 14px;
	left: 14px;
	padding-top: 8px;
	padding-left: 8px;
	border-radius: 3px;
	z-index: 2;
	transition-duration: .5s;
}

.menu:hover, .menu:active  {
	background-color: #777;
}

.menu-content {
	background-color: #777;
	width: auto;
	top: 40px;
	left: 14px;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 0px 3px 3px 3px;
	text-align: center;
	z-index: 1;
}

.menu-content a {
	text-transform: uppercase;
	font-size: 11pt;
	letter-spacing: 0.7pt;
	font-weight: bold;
	line-height: 26px;
}

.menu-content a:hover {
	color: #cdcdcd;
}

.menu span {
	color: #eee;
	font-size: 16px;
	height: 20px;
	width: 20px;
	opacity: 1;
}

.menu + input {
	display: none;
}

.menu + input + * {
	display: none;
}

.menu + input:checked + * {
	display: block;
}

.pagination {
	position: relative;
	margin-top: 30px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	text-decoration: none;
	color: #888;
}

.pagination a {
	text-decoration: none;
	color: black;
}

.older-posts, .newer-posts {
	position: absolute;
	padding: 0 15px;
}

.older-posts {
	right: 0;
}

.page-number {
	padding: 2px 0;
	color: black;
}

.newer-posts {
	left: -15px;
}

.older-posts {
	right: -15px;
}

.older-posts:hover, .newer-posts:hover {
	color: #2a7ead;
	border-color: #00BDB8;
}

.copyright {
	color: inherit;
	font-size: 14px;
	text-transform: uppercase;
	bottom: 10px;
	position: absolute;
}

.copyright a {
	text-decoration: none;
}

#post-list, #content {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 50px;
	font-weight: 400;
	letter-spacing: 0px;
	font-size: 20px;
	color: #313131;
	line-height: 1.5;
	position: relative;
	border-radius: 10px;
	box-shadow: 10px 10px 5px brown;
	background: rgba(255, 255, 255, 0.7);
}
/*
#post-list h1 {
	font-weight: bold;
	font-size: 30pt;
	line-height: 44px;
	margin-top: 0px;
	margin-bottom: 8px;
}
*/

#post-list a {
	/*color: #555;*/
	text-decoration: none;
	transition-duration: .5s;
}

#post-list a:hover {
	/*color: #2a7ead;*/
	text-decoration: none;
}

.post-description {
	color: #777;
	font-size: 15pt;
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

.post-date {
	font-size: 12pt;
	color: #555;
	display: block;
}

.categories {
	margin-bottom: 15px;
}

.category {
	border-style: outset;
	border-width: 1px;
	padding: 5px;
	font-size: 12pt;
	text-transform: uppercase;
	color: #555;
}