@import url(default.css);

#post-info {
	width: 700px;
	left: 50%;
	margin-left: -350px;
	bottom: 100px;
}

#post-info h1 {
	font-weight: bold;
	font-size: 44px;
	line-height: 44px;
}

#home-title {
}

#article {
	
}

#article br {
	text-ident: 30px hanging each-line;
}

#bg-video {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	overflow: hidden;
}

.menu {
	position: fixed;
}

.menu-content {
	position: fixed;
}

.pagination, #post-list {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	/*
	left: 50%;
	margin-left: -350px;
	*/
}

.copyright {
	right: 20px;
}
