---
layout: default
article: true
---
<div id="content" class="content" itemscope itemtype="http://schema.org/WebPage">
	<article>
		<header>
			<span itemprop="url" style="display: none;">{{url}}</span>
			<h1><a href="{{ url }}"><span itemprop="name">{{ page.title }}</span></a></h1>
			<div itemprop="audience" itemscope itemtype="http://schema.org/Audience" style="display: none;">
				{% for audience in site.audience %}
				<span itemprop="audienceType">{{ audience }}</span>
				{% endfor %}
			</div>
			<div itemprop="author" itemscope
        		itemtype="http://schema.org/OrganizationRole" style="display: none;">
        		<div itemprop="author" itemscope
            	itemtype="http://schema.org/Person">
            		<span itemprop="name">{{ site.author.name }}</span>
            		{% for social in site.social %}
            		{% unless social.icon == 'feed' %}
            		<link itemprop="sameAs" href="{{ social.url }}" />
            		{% endunless %}
            		{% endfor %}
            	</div>
        	</div>
		</header>
		<main>
			<div id="article">
				{{ content }}
			</div>
		</main>
		{% if page.categories.size > 0 %}
		<footer>
			<div class="categories">
			{% for category in page.categories %}
				<span class="category" itemprop="about">{{ category }}</span>
			{% endfor %}
			</div>
		</footer>
		{% endif %}
	</article>
	<div itemscope itemtype="http://schema.org/Blog">
{% assign categoryPage = page.categoryPage | upcase %}
{% for myPost in site.posts %}
	{% if myPost.resource == true %}
		{% for cat in myPost.categories %}
		{% assign myPostCategory = cat | upcase %}
		{% if myPostCategory == categoryPage %}
		{% assign blogPost = myPost %}
	{% include blogPost.html %}
		{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
	</div>
</div>