---
layout: default
article: true
---
<div id="content" class="content" itemscope itemtype="http://schema.org/WebPage">
	<article>
		<header>
			<span itemprop="url" style="display: none;">{{url}}</span>
			<h1><a href="{{ url }}"><span itemprop="name">{{ page.title }}</span></a></h1>
			<div itemprop="author" itemscope
        		itemtype="http://schema.org/OrganizationRole" style="display: none;">
        		<div itemprop="author" itemscope
            	itemtype="http://schema.org/Person">
            		<span itemprop="name">Bérenger Dulac</span>
            		<link itemprop="sameAs" href="http://www.facebook.com/berenger.dulac" />
           			<link itemprop="sameAs" href="http://bdulac.github.io" />
           			<link itemprop="sameAs" href="https://github.com/bdulac" />
            	</div>
        	</div>
		</header>
		<main>
			<div id="article">
				{{ content }}
			</div>
		</main>
		<footer>
			<div class="categories">
			{% for category in page.categories %}
				<span class="category" itemprop="about">{{ category }}</span>
			{% endfor %}
			</div>
		</footer>
	</article>
</div>